header {
  background-color: #7FFFD4;
}

.info {
  background-color: #6495ED;
  color: white;
}

h3 {
  background-color: #6495ED;
  color: white;
}

img.center {
  width: 600px;
  height: auto;
  display: block;
  margin: 0 auto;
}
